<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="styles/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="js/script.js"></script>
	</head>
	<body ng-controller="StoreController as store">
		<div class="container">
			<h2 class="h2-header">List of products</h2>
			<table class="table table-hover table-striped">
				<thead class="table-header">
					<tr>
						<th>Name</th>
						<th>Price</th>
						<th class="product-description">Description</th>
						<th>Image</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in store.products" ng-click="item = 1">
						<td>{{product.name}}</td>
						<td>{{product.price | currency}}</td>
						<td>{{product.description}}</td>
						<td><img ng-src="{{product.image.thumb}}"/></td>
					</tr>
				</tbody>
			</table>
			<section>
				<ul class="nav nav-pills">
					<li><a href ng-click="tab = 1">Description</a></li>
					<li><a href ng-click="tab = 2">Specifications</a></li>
					<li><a href ng-click="tab = 3">Reviews</a></li>
				</ul>
			</section>
			{{item}}
			<div class="panel" ng-show="tab === 1">
				<h4>Description</h4>
				<p>{{product.description}}</p>
			</div>
			<div class="panel" ng-show="tab === 2">
				<h4>Image</h4>
				<p>{{product.description}}</p>
			</div>
			<div class="panel" ng-show="tab === 3">
				<h4>Specifications</h4>
				<p>{{product.description}}</p>
			</div>
		</div>
	</body>
</html>